[DEFAULT]
bind_host = {{ ansible_host }}
auth_strategy = keystone
core_plugin = ml2
service_plugins = router,metering,qos
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
interface_driver = linuxbridge
transport_url = rabbit://openstack:{{ rabbitmq_openstack_password }}@{{ keepalived_vip }}:{{ rabbitmq_tls_port }}
l3_ha = true
l3_ha_network_type = vxlan
max_l3_agents_per_router = 2
allow_automatic_l3agent_failover = true
dhcp_agents_per_network = 3
api_workers = {{ neutron_workers }}
rpc_workers = {{ (neutron_workers/2)|int }}
[agent]
root_helper = sudo neutron-rootwrap /etc/neutron/rootwrap.conf
[cors]
[database]
connection = mysql+pymysql://{{ os_service_name }}:{{ db_password }}@{{ keepalived_vip }}/{{ os_service_name }}?charset=utf8&ssl_ca={{ mariadb_ca_cert }}
[ironic]
[keystone_authtoken]
www_authenticate_uri = http://{{ keepalived_vip }}:{{ keystone_port }}
auth_url = http://{{ keepalived_vip }}:{{ keystone_port }}
memcached_servers = {{ keepalived_vip }}:{{ memcached_port }}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ os_service_name }}
password = {{ os_password }}
[nova]
auth_url = http://{{ keepalived_vip }}:{{ keystone_port }}
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = nova
password = {{ nova_password }}
[oslo_concurrency]
lock_path = /var/lib/neutron/tmp
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
driver = messagingv2
[oslo_messaging_rabbit]
ssl=true
ssl_version=TLSv1_2
ssl_ca_file={{ rabbitmq_ca_cert }}
heatbeat_in_pthread=False
rabbit_quorum_queue=True
[oslo_middleware]
[oslo_policy]
#enforce_scope = True
#enforce_new_defaults = True
policy_file = policy.yaml
policy_dirs = policy.d
[privsep]
[quotas]
quota_floatingip = -1
quota_network = -1
quota_port = -1
quota_router = -1
quota_security_group = -1
quota_security_group_rule = -1
quota_subnet = -1
[ssl]
